# exclude everything except directory foo/bar
/SourceTreeScript/links_output/*
/SourceTreeScript/links_output.zip
/SourceTreeScript/anchors_output/*
/SourceTreeScript/anchors_output.zip
/SourceTreeScript/env/