# exclude everything except directory foo/bar
/SourceTreeScript/links_output/*
/SourceTreeScript/links_output.zip
/SourceTreeScript/anchors_output/*
/SourceTreeScript/anchors_output.zip
SourceTreeScript/error.txt
/SourceTreeScript/env/
/SourceTreeScript/__pycache__/
/SourceTreeScript/*/__pycache__/
*.pyc